ion-content {
    --background: rgba(237, 242, 245, .8);
    
    .back-blob {
      z-index: -1;
      width: 600px;
      position: absolute;
      left: -50%;
      top: 0;
    }
  }
  
  ion-toolbar {
    --background: transparent;
  
    ion-title {
      padding: 20px 0 46px 0;
      font-weight: 900;
    }
  
    .back-circle {
      z-index: -1;
      width: 200px;
      height: 200px;
      background: #e5ecf1;
      position: absolute;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  #container {
    text-align: center;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }