<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">
      About LAF
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path fill="#8295A3" d="M68.6,-33.5C81.6,-17.2,79.6,13.8,65.7,37.6C51.8,61.3,25.9,77.8,2.1,76.6C-21.7,75.4,-43.5,56.5,-54.2,34.6C-65,12.7,-64.8,-12.3,-53.9,-27.4C-43,-42.4,-21.5,-47.6,3.2,-49.4C27.9,-51.2,55.7,-49.7,68.6,-33.5Z" transform="translate(100 100)" />
  </svg>

  <p id="container">LAF <img alt="logo" height="15"   src="..\assets\icon\LAF-Logo2-Resized.png" > (Lost & Found) Application is developped as a final project for the Ioni Unit.
    LAF helps you to find your lost Phone, PC, Watch, Wallet, Pets or either your documents...
    LAF also helps other to find theire precious lost items...
    LAF was Developped By Khalil BEN HADJ AYED
    2020/2021
  </p>

</ion-content>
