ion-content {
  --background: #f8f8fa;
}

ion-toolbar {
  padding: 0px 0px 0px 0px;
}

ion-searchbar {
  --box-shadow: none;
  --border-radius: 12px;
}

ion-title {
  background-color: #f8f8fa;
  text-align: center;
}

ion-card-content {
  .img-wrapper {
    border-radius: 14px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 8px;
  }

  ion-card-subtitle:last-of-type {
    padding-top:6px;
    font-size: 11px;
  }
}

ion-tab-bar{
  position: absolute;
  bottom: 0;
  width: 100%;
  --background: #ffffff;
  align-self: center;
  border-radius: 20px 20px 0px 0px;
  border-color: #ffffff;
}