ion-content {
  --background: rgba(237, 242, 245, .8);
  
  .back-blob {
    z-index: -1;
    width: 600px;
    position: absolute;
    left: -50%;
    top: 0;
  }
}

ion-toolbar {
  --background: transparent;

  ion-title {
    padding: 20px 0 46px 0;
    font-weight: 900;
  }

  .back-circle {
    z-index: -1;
    width: 200px;
    height: 200px;
    background: #e5ecf1;
    position: absolute;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;

  }
}

ion-searchbar {
  --box-shadow: none;
  --border-radius: 12px;
}

ion-title {
  background-color: #f8f8fa;
  text-align: center;
}

ion-card-content {
  .img-wrapper {
    border-radius: 14px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 8px;
  }

  ion-card-subtitle:last-of-type {
    padding-top:6px;
    font-size: 11px;
  }
}

ion-tab-bar{
  position: absolute;
  bottom: 0;
  width: 100%;
  --background: #ffffff;
  align-self: center;
  border-radius: 20px 20px 0px 0px;
  border-color: #ffffff;
}